$header-background: rgb(77, 152, 164);
$links-white-color: white;
$about_svg-icon-color: rgb(94, 182, 196);
$comment-background: rgb(0, 208, 137);
$comment_quote-color: rgb(51, 217, 161);
$header-slide-down-background: rgb(0, 208, 137);